body {
    margin: 0;
    background-color: #333 !important;
}

.back {
    width:100%;
    height:800px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin: 0;
    z-index: -1;
    position: absolute;
}

.row {
    height: 800px;
    
}

.description {
    height: 550px;
    box-shadow: 0 0 15px 10px;
    
}

.image {
    width:100%;
    height:550px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin: 0;
}

.title-h1 {
    font-family: 'Ubuntu';
    color: #92a3c6;
    background-repeat:no-repeat;
    text-align: center;
}

.text {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px 10px;
    
    width: 50%;
    backdrop-filter: blur(20px);
    position: relative;
    bottom: 150px;
    left: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Navbar */

.navbar-brand {
    font-family: "Montserrat";
    font-size: 40px !important;
} 

li {
    font-size: 20px;
}

/* Search Bar */

    .searchbar{
    margin-bottom: auto;
    margin-top: 200px;
    height: 60px;
    background-color: #586279;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    

/* Features */

#Features {
    border: 50px solid;
}

.h1-slogan {
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat";
    line-height: 10rem;
    font-weight: 900;
    text-align: center;
    font-size: 400%;
    padding: 0 200px;
    margin: 200px 0;
    display: flex;
}


.list {
    width: 2000px;
    height: 500px;
    text-align: center;
    padding: 0 200px;
    /* display: flex; */

}

.points-1 {
    width:700px;
    height:500px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin: 0;
    float: left;
    border-radius: 20%;
    display: flex;
}

.points-2 {
    width:700px;
    height:500px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin: 0;
    float: left;
    border-radius: 20%;
    display: flex;
}

.details-1 {
    background: -webkit-linear-gradient(#f30202, #e69b9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: 500;
    /* padding: 70px 50px 0 50px; */
    display: flex;
    position: relative;
    right: 100px;
    top: 400px;
}

.details-2 {
    margin-top: 30%;
    background: -webkit-linear-gradient(#125a0c, #85d376);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: 500;
    /* padding: 70px 50px 0 50px; */
    display: flex;
    position: relative;
    right: 100px;
    bottom: 100px;
}
p {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px 10px;
    
    width: 30%;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}body {
    margin: 0;
    background-color: #333 !important;
}

.back {
    width:100%;
    height:800px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin: 0;
    z-index: -1;
    position: absolute;
}



.row {
    height: 800px;
    
}

.description {
    height: 550px;
    box-shadow: 0 0 15px 10px;
    
}

.image {
   width:100%;
    height:550px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin: 0;
}

.title-h1 {
    font-family: 'Ubuntu';
    color: #92a3c6;
    background-repeat:no-repeat;
    text-align: center;
}

.text {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px 10px;
    
    width: 50%;
    backdrop-filter: blur(20px);
    position: relative;
    bottom: 150px;
    left: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Navbar */

.navbar-brand {
    font-family: "Montserrat";
    font-size: 40px !important;
} 

li {
    font-size: 20px;
}

/* Search Bar */

.command {
    background: -webkit-linear-gradient(#6f80a3, #dbdbdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color:  #92a3c6; */
    text-align: center;
    font-family: 'Montserrat';
    font-size: 220%;
    position: relative;
    left: 200px;
    top: 200px;
}

    .searchbar{
    margin-bottom: auto;
    margin-top: 200px;
    height: 60px;
    background-color: #586279;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    

/* Features */

#Features {
    /* border: 50px solid; */
    /* background-clip: border-box;
    -webkit-filter: blur(); */
    box-shadow: inset 0px 0px 40px 40px #5c83d7;
    padding: 10px 0 100px 0;
}

.h1-slogan {
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat";
    line-height: 10rem;
    font-weight: 900;
    text-align: center;
    font-size: 400%;
    padding: 0 200px;
    margin: 200px 0;
    display: flex;
}


.list {
    width: 2000px;
    height: 500px;
    text-align: center;
    padding: 0 200px;
    /* display: flex; */

}

.points-1 {
    width:700px;
    height:500px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin: 0;
    float: left;
    border-radius: 20%;
    display: flex;
}

.points-2 {
    width:700px;
    height:500px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin: 0;
    float: left;
    border-radius: 20%;
    display: flex;
}

.details-1 {
    background: -webkit-linear-gradient(#f30202, #e69b9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: 500;
    /* padding: 70px 50px 0 50px; */
    display: flex;
    position: relative;
    right: 100px;
    top: 400px;
}

.details-2 {
    margin-top: 30%;
    background: -webkit-linear-gradient(#125a0c, #85d376);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: 500;
    /* padding: 70px 50px 0 50px; */
    display: flex;
    position: relative;
    right: 100px;
    bottom: 100px;
}
p {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px 10px;
    
    width: 30%;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
